h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: normal;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: rgb(20, 41, 40);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10%;
}

#container {
  background: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
}

#app-title {
  margin-bottom: 10px;
  color: rgb(20, 41, 40);
}

#new-todo {
  /* background: cyan; */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px 0 20px 0;
  display: flex;
  justify-content: center;
}

#new-todo input[type="text"] {
  padding: 5px 10px;
  width: 50%;
  font-size: 16px;
  margin-right: 5px;
}

#new-todo input[type="button"] {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: rgb(12, 100, 182);
  color: white;
}

#new-todo input[type="button"]:hover {
  background: rgb(6, 80, 150);
}

#todo-list {
  box-sizing: border-box;
  background: rgb(236, 243, 243);
  border: solid 1px rgb(195, 202, 202);
  width: 100%;
  height: 100%;
  padding: 10px;
}

#empty-todo.hide {
  display: none;
}

#todo-list > p {
  text-align: center;
  color: rgb(81, 97, 97);
}

#todo-list > .list {
  padding: 5px 0;
  border-bottom: solid 1px rgb(195, 202, 204);
  display: flex;
  align-items: center;
}

#todo-list > .list > input[type="checkbox"] {
  cursor: pointer;
}

#todo-list > .list > .strike {
  text-decoration: line-through;
}

#todo-list > .list > .btn-remove {
  border: none;
  background: rgb(180, 5, 5);
  color: white;
  margin-left: 20px;
  cursor: pointer;
  display: none;
}

#todo-list > .list > .btn-remove:hover {
  background: rgb(105, 5, 5);
}

#todo-list > .list:hover .btn-remove {
  display: block;
}
